@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    @apply text-sm;
    @apply bg-white;
}

html.dark,
body.dark,
#root.dark,
.app.dark {
    @apply bg-black;
}


/* TIMELINE STYLING */

.timeline ._3_ygE {
    @apply rounded-tl-md border border-r-0 border-[#e6e4e4];
}

html.dark .timeline ._3_ygE {
    @apply border-stroke-dark;
}

.timeline ._2eZzQ {
    @apply border-[#e6e4e4];
}

html.dark .timeline ._2eZzQ {
    @apply border-stroke-dark;
}

.timeline ._2dZTy {
    @apply fill-white;
}

html.dark .timeline ._2dZTy {
    @apply fill-dark-secondary;
}

.timeline ._2dZTy:nth-child(even) {
    @apply fill-[#f5f5f5];
}

html.dark .timeline ._2dZTy:nth-child(even) {
    @apply fill-dark-tertiary;
}

.timeline ._35nLX {
    @apply fill-white stroke-[#e6e4e4];
}

html.dark .timeline ._35nLX {
    @apply fill-dark-secondary stroke-stroke-dark;
}

.timeline ._9w8d5 {
    @apply fill-[#333];
}

html.dark .timeline ._9w8d5 {
    @apply fill-white;
}

.timeline ._34SS0 {
    @apply bg-white;
}

html.dark .timeline ._34SS0 {
    @apply bg-dark-secondary;
}

.timeline ._34SS0:nth-of-type(even) {
    @apply bg-[#f5f5f5];
}

html.dark .timeline ._34SS0:nth-of-type(even) {
    @apply bg-dark-tertiary;
}

.timeline ._RuwuK,
.timeline ._3rUKi,
.timeline ._1rLuZ {
    @apply stroke-[#e6e4e4];
}

html.dark .timeline ._RuwuK,
html.dark .timeline ._3rUKi,
html.dark .timeline ._1rLuZ {
    @apply stroke-stroke-dark;
}

.timeline ._3ZbQT {
    @apply border-l-0 border-[#e6e4e4];
}

html.dark .timeline ._3ZbQT {
    @apply border-stroke-dark;
}

.timeline ._3T42e {
    @apply bg-white;
}

html.dark .timeline ._3T42e {
    @apply bg-dark-bg;
}

.timeline ._29NTg {
    /* Light mode text */
    @apply text-neutral-500;
}

html.dark .timeline ._29NTg {
    /* Dark mode text */
    @apply text-neutral-500;
}


/* Hide scrollbars */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}